.tech-stack-entry {
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    border: 1px solid grey;
    width: fit-content;
    padding: 2px;
    align-items: center;
    gap: 4px;
}

.tech-stack-entry-text {
    align-self: center;
    font-size: 16px;
}