.scroll-container {
    height: calc(100vh - 4rem);
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    width: 100%;
}

.light-brown-background {
    background-color: #FFF6F1;
}

.scroll-container::-webkit-scrollbar {
    display: none;
    /* width: 8px */
  }
  
  .scroll-container::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.3);
    border-radius: 6px;
  }
  
  .scroll-container::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.05);
  }
  

.section {
    height: calc(100vh - 4rem);
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    position: relative;
}

.scrollformore-static {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.9rem;
  color: gray;
  }

  .scrollformore {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.9rem;
    color: gray;
    animation: bounce 1.5s infinite;
  }
  
  @keyframes bounce {
    0%, 100% { transform: translate(-50%, 0); }
    50% { transform: translate(-50%, -10px); }
  }

.last-section {
    height: calc(100vh - 4rem);
    scroll-snap-align: start;
    display: grid;
    position: relative;
}

@media(max-width: 768px) {
    .scrollformore {
      bottom: 100px;
    }
    .scrollformore-static {
      bottom: 100px;
    }
}
