.title {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 4rem);
    gap: 1rem;
    align-self: center;
    background-color: #FFF6F1;
}

.name-text-section {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.pfp {
    width: 7rem;
    height: 7rem;
    align-self: center;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #714b4a;
}

.name-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 20vh;
}

.name-text {
    font-weight: bold;
    font-size: 5rem;
    font-family: "Cherry Bomb One",sans-serif;
    color: #714b4a;
}

.description-text {
    font-size: 24px;
    font-weight: 750;
    color: #714b4a;
}

.stats-text {
    font-size: 20px;
    font-weight: 500;
    color: #714b4a;
    padding: 0 1rem;
}

.invite-button {
    font-weight: bold;
    display: flex;
    align-self: center;
    padding: 0.5rem;
    border-radius: 8px;
    background-color: #714b4a;
    color: white;
}

.invite-button:hover {
    transition: 0.3s background-color ease-in-out;
    background-color: #4E2A2A;
    color: white;
}

.name-wrapper {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-self: center;
    flex-direction: column;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.server-text {
    font-size: 1.25rem;
    color: gray;
    margin-top: 0.75rem;
}

.server-link {
    color: darkgray;
    
}

.server-link:hover {
    color: #714b4a;
    transition: 0.3s color ease-in;
}

.Typewriter__wrapper {
    font-size: 48px;
    font-weight: bold;
}

.Typewriter__cursor {
    font-size: 48px;
    font-weight: bold;
}

.terminal-glitch {
    color: #00ff00;
    font-size: 5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 8px;
    justify-self: center;
}

.scroll-formore {
    margin-top: auto;
    margin-bottom: 1rem;
}

.scroll-formore-text {
    color: grey;
    font-size: 16px;
}

.prompt {
    animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

@media (max-width: 768px) {
    .name-text-section {
        gap: 1rem;
    }
    .name-text {
        font-size: 4rem;
    }
    .terminal-glitch {
        font-size: 3rem;
    }
    .Typewriter__wrapper {
        font-size: 16px;
    }
    .Typewriter__cursor {
        font-size: 16px;
    }
    .socials {
        flex-direction: column;
        align-items: center;
    }
}